<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="profile-card">
        <h2>User Details</h2>
        <div class="profile-info">
            <p><strong>Name:</strong> Patel Poojan</p>
            <p><strong>Email:</strong> abc&#64;gmail.com</p>
            <p><strong>Contact:</strong> 1234567890</p>
            <p><strong>Skill:</strong> Android Developer</p>
        </div>
    </div>

</body>
</html>
